@media (max-width: 739px) {
    .main {
        overflow: hidden;
    }

    .software-img {
        height: 400px;
        margin-bottom: 32px;
        width: 80%;
        margin-left: 35px;
    }

    .software-img:hover {
        transform: unset;
        background-color: unset;
    }

    .download-btn {
        padding: 40px 32px;
    }

    .content-section {
        padding: calc(var(--header-height) + 16px) 8px;
    }

    .software__header {
        padding: 0 8px;

    }

    .hide-on-mobile {
        display: none;
    }
}